<template name="forgotPassword">
	<div class="container">
		<div class="row vertical">
			<form>
				<div class="row">
		        	<div class="input-field col s12">
		          		<input id="email" type="email" class="validate"/>
		          		<label for="email" data-error="Please check your email address">Email</label>
		        	</div>
		      	</div>
		      	<div class="row">
					<button class="input-field col s12 btn waves-effect waves-light" type="submit" name="signup" id="signup">Submit
			  			<i class="fa fa-chevron-right"></i>
					</button>
		      	</div>
		    </form>
		    <div class="row">
	        	<div class="col s12 center">
	          		<a href="/login">Already have an account?</a>
	        	</div>
	      	</div>
	      	<div class="row">
	        	<div class="col s12 center">
	          		<a href="/signup">Don't have an account?</a>
	        	</div>
	      	</div>
		</div>
	</div>
</template>