<head>
	<title>Social Network</title>
</head>
<body>
	<nav>
		<ul class="right hide-on-med-and-down">
			<li>
				<a href="/signin">Sign In</a>
			</li>
			<li>
				<a href="/about">About Us</a>
			</li>
		</ul>
		{{> sideNav }}
	</nav>
	<div class="container">
		<div class="row vertical">
			<form>
				<div class="row">
		        	<div class="input-field col s12">
		          		<input id="email" type="email" class="validate"/>
		          		<label for="email" data-error="Please check your email address">Email</label>
		        	</div>
		      	</div>
				<div class="row">
		        	<div class="input-field col s12">
		          		<input id="password" type="password" class="validate"/>
		          		<label for="password" data-error="Field cannot be empty">Password</label>
		        	</div>
		      	</div>
		    </form>
	    </div> 
	</div>
</body>
