<template name="login">
	<div class="row vertical">
		<form>
			<div class="row">
	        	<div class="input-field col s12">
	          		<input id="email" type="email" class="validate"/>
	          		<label for="email" data-error="Please check your email address">Email</label>
	        	</div>
	      	</div>
			<div class="row">
	        	<div class="input-field col s12">
	          		<input id="password" type="password" class="validate"/>
	          		<label for="password" data-error="Field cannot be empty">Password</label>
	        	</div>
	      	</div>
	      	<div class="row">
				<button class="input-field col s12 btn waves-effect waves-light" type="submit" name="login" id="login">Submit
		  			<i class="fa fa-chevron-right"></i>
				</button>
	      	</div>
	    </form>
	    <div class="row">
        	<div class="col s12">
          		<a href="/signup">Sign up for Social Network</a>
        	</div>
      	</div>
      	<div class="row">
        	<div class="col s12">
          		<a href="/forgotPassword">Forgot Password?</a>
        	</div>
      	</div>
	</div>
</template>