<template name="sideNav">
	{{#if currentUser }}
		<ul id="slide-out" class="side-nav">
			<li>
				<img id="profilePic" src="images/default.png"/>
			</li>
			<li>
				<a href="/profile">Profile</a>
			</li>
			<li>
				<a href="/about">About Us</a>
			</li>
		</ul>
	{{else}}
		<ul id="slide-out" class="side-nav">
			<li>
				<a href="/signin">Sign In</a>
			</li>
			<li>
				<a href="/about">About Us</a>
			</li>
		</ul>
	{{/if}}
	<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</template>